body {
  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*taken from uigradient*/
}

h1 {
  font-family: "Georgia", Times, serif;
  font-size: 30px;
}

h2 {
  font-family: "Georgia", Times, serif;
  font-size: 24px;
}

h3{
  font-family: "Georgia", Times, serif;
  font-size: 16px;
}

h4 {
  font-family: "Georgia", Times, serif;
  font-size: 13px;
}

button {
  font-family: "Georgia", Times, serif;
  font-size: 14px;
}

input {
  font-family: "Georgia", Times, serif;
  font-size: 14px;
}
